#fundo {
  position: fixed;
  height: 1907px;
  left: 0px;
  top: -1px;
  background: rgba(22, 22, 22, 0.5);
  width: 100%;
}
#personagem {
  position: absolute;
  width: 776px;
  height: 488px;
  left: 585px;
  top: 339px;
  background: #e5edf2;
}
#imagem {
  position: absolute;
  width: 316px;
  height: 429px;
  top: 25px;
  left: 25px;

  background: #c4c4c4;
}

#logo_casa {
  position: absolute;
  top: 25px;
  left: 383px;
  width: 50px;
  height: 50px;
}
#casas {
  position: absolute;
  right: 147px;
  top: 27px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #3461a4;
}
#cardName {
  position: absolute;
  width: fit-content;
  left: 385px;

  top: 130px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #3461a4;
}
#gain {
  position: absolute;
  left: 388px;
  width: 140px;
  height: 44px;
  top: 356px;

  background: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#lose {
  position: absolute;
  left: 559px;
  width: 140px;
  height: 44px;
  top: 356px;

  background: #f8a388;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#barraAleatoria {
  position: absolute;
  left: 388px;
  width: 317px;
  height: 44px;
  top: 256px;
  background: white;
}
#hide {
  background-color: #e5edf2;
  position: absolute;
  top: 255px;
  left: 379px;
  height: 150px;
  width: 346px;
}
#hide_dois {
  background-color: #e5edf2;
  position: absolute;
  top: 255px;
  left: 379px;
  height: 150px;
  width: 346px;
}
#soma {
  position: absolute;
  width: 125px;
  font-size: 50px;
  left: 105px;
  color: aquamarine;
}
#soma_dois {
  position: absolute;
  width: 125px;
  font-size: 50px;
  left: 105px;
  color: #f8a388;
}
#done {
  position: absolute;
  display: flex;
  top: 120px;
  left: 113px;
  background-color: #6994d5;
  width: 100px;
  height: 35px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
