#app {
  background: #e5e5e5;
}
#topo {
  position: absolute;
  width: 1768px;
  height: 383px;
  left: 0px;
  top: 0px;

  background: #6d9fea;
}

#appbar {
  position: absolute;
  width: 1767px;
  height: 158px;
  left: 1px;
  top: 62px;

  background: #3461a4;
}
#logo_00 {
  position: absolute;
  left: 2.42%;
  right: 2.13%;
  top: 1.52%;
  bottom: 1.52%;
}
#titulo {
  position: absolute;
  width: 548px;
  height: 56px;
  left: 212px;
  top: 55px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}
#cobra {
  position: absolute;
  width: 347px;
  height: 648px;
  left: 45px;
  top: 286px;

  background: #e5edf2;
}
#corvo {
  position: absolute;
  width: 347px;
  height: 648px;
  left: 486px;
  top: 286px;

  background: #e5edf2;
}
#leao {
  position: absolute;
  width: 347px;
  height: 648px;
  left: 930px;
  top: 286px;

  background: #e5edf2;
}
#topeira {
  position: absolute;
  width: 347px;
  height: 648px;
  left: 1368px;
  top: 286px;

  background: #e5edf2;
}

#topo_01 {
  width: 242px;
  height: 53px;
  left: 101px;
  top: 310px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */

  color: #5777a8;
}
#topo_02 {
  width: 282px;
  height: 53px;
  left: 525px;
  top: 312px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */

  color: #5777a8;
}
#topo_03 {
  width: 266px;
  height: 53px;
  left: 979px;
  top: 312px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */

  color: #5777a8;
}
#topo_04 {
  width: 268px;
  height: 53px;
  left: 1412px;
  top: 311px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */

  color: #5777a8;
}
#pontos_01 {
  position: absolute;
  width: 120px;
  height: 82px;
  left: 101px;
  top: 421px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 82px;
  color: #5777a8;
}
#pontos_02 {
  position: absolute;
  width: 120px;
  height: 82px;
  left: 101px;
  top: 421px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */

  color: #5777a8;
}
#pontos_03 {
  position: absolute;
  width: 120px;
  left: 101px;
  top: 421px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */

  color: #5777a8;
}
#pontos_04 {
  position: absolute;
  width: 120px;
  height: 82px;
  left: 101px;
  top: 421px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */

  color: #5777a8;
}

#alunos {
  position: absolute;
  width: 1670px;
  height: 825px;
  left: 57px;
  top: 1000px;

  background: #e5edf2;
}

#tituloAlunos {
  width: 170px;
  height: 68px;
  left: 99px;
  top: 1055px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  letter-spacing: -0.02em;
  color: #5777a8;
  padding: 15px;
}

#nome {
  width: 95px;
  height: 42px;
  padding-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #5777a8;
}

#casa {
  position: absolute;
  width: 80px;
  height: 42px;
  left: 926px;
  top: 97px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #5777a8;
}

#linha {
  height: 0px;

  border: 1px solid #5777a8;
}

.item {
  display: flex;
  justify-content: space-between;
}
#nome {
  min-width: 300px;
}
